.main-section {
  border-top: 8px solid #F5C85F;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  padding: 40px;
  flex-wrap: wrap;
}

* {
  font-family: 'Open Sans', sans-serif;
}

<<<<<<< c45528bc0600ef38d3cd273e88635d3066d088b1
.vertical-line {
  height: 200px;
  width: 3px;
  background: linear-gradient(transparent, #FFD700, transparent);
  margin: 0 30px;
}

.feature-group {
  background-color: #EEE;
  padding: 40px;
  position: relative;
=======
.main-images {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  background-color:white;
  margin: 40px;
  flex-wrap:wrap;
>>>>>>> last fixes for wraping the content
}

.features-container {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  margin: 0 50px;
  max-width: 200px;
}

.feature-title {
  color: #111;
  margin-bottom: 20px;
}

.feature-description {
  color: #999;
}

.text {
  display: flex;
  font-weight: bold;
  flex-wrap: wrap;
  text-align: center;
}

.feature-image {
  align-items: baseline;
  margin-bottom: 20px;
}

.feature-group::before {
  background: url("images/triangle.png");
  height: 12px;
  content: "";
  width: 100%;
  top: -12px;
  left: 0;
  position: absolute;
}

@media screen and (max-width: 1024px) {
  .features-container {
    flex-direction: column;
  }

  .main-image,
  .vertical-line {
    display: none;
 }

}
