.main-section {
  border-top: 8px solid #F5C85F;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  padding: 40px;
  flex-wrap: wrap;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.vertical-line {
  height: 200px;
  width: 3px;
  background: linear-gradient(transparent, #FFD700, transparent);
  margin: 0 30px;
}

.feature-group {
  background-color: #EEE;
  padding: 40px;
  position: relative;
}

.features-container {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  align-items: center;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 0;
  margin: 0 50px;
  max-width: 200px;
}

.feature-title {
  color: #111;
  margin-bottom: 20px;
}

.feature-description {
  color: #999;
}

.text {
  display: flex;
  font-weight: bold;
  flex-wrap: wrap;
  text-align: center;
}

.feature-image {
  align-items: baseline;
  margin-bottom: 20px;
}

.feature-group::before {
  background: url("images/triangle.png");
  height: 12px;
  content: "";
  width: 100%;
  top: -12px;
  left: 0;
  position: absolute;
}

.shadow {
  box-shadow: 0 -5px 5px #EEE;
}

.footer {
  background-color: #F5C85F;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  padding-bottom: 50px;
}

.subscription-title {
  margin-bottom: 20px;
  font-size: 16px;
}

.white-font {
  color: #FFF;
}

.subscription-input {
  border: none;
  background: #FFF;
  width: 300px;
  height: 35px;
  margin-bottom: 15px;
}

.rounded-input {
  border-radius: 9px;
  padding: 5px;
  }

.subscribe-button {
  border: 1px solid #FFF;
  border-radius: 7px;
  padding: 12px;
}

@media screen and (max-width: 1024px) {
  .features-container {
    flex-direction: column;
  }

  .main-image,
  .vertical-line {
    display: none;
 }
