* {
    font-family: 'Roboto', sans-serif;
  }

.books-container {
  display: flex;
  max-width: 722px;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-top: 65px;
  justify-content: space-between;
}

.book-list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  max-width: 1480px;
  margin: auto;
  align-content: center;
  position: relative;
  flex-direction: column;
  padding: 140px 20px;
}

.book-title {
  font-weight: bold;
  color: #000;
  font-size: 14px;
  text-align: justify;
  margin-top: 11px;
  margin-bottom: auto;
}

.book-author {
  font-weight: normal;
  font-size: 12px;
  color: #4A4A4A;
  margin: 0;
  text-align: right;
  padding-top: 5px;
}

.book-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 0;
  max-width: 128px;
  margin: 25px;
}

.book-image-cover {
  width: 128px;
  height: 182px;
}

.default-cover{
  background-color: #D8D8D8;
  object-fit: none;
}

.search-icon {
  background-color: #A5CD39;
  width: 22px;
  height: 22px;
  padding: 8px;
}

.search-input {
  background:#F4F4F4;
  width: 238px;
  height: 38px;
  padding: 0 4px;
  border: 0;
  font-size: 14px;
  font-style: italic;
}

.search-form {
  display: flex;
  margin: 0 auto;
  padding: 0 25px;
  max-width: 722px;
  width: 100%;
  box-sizing: border-box;
}

.selector {
  margin-right: 28px;
  border: 0;
}
