.comment-section-container {
  display: flex;
  max-width: 670px;
  width: 100%;
  margin: 20px auto;
  align-items: flex-start;
  padding-bottom: 36px;
  justify-content: center;
}

.comment-history {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.comment-name {
  font-weight: bold;
  font-size: 14px;
  color: #000;
  text-align: left;
  margin: 0 0 1px 0;
}

.avatar-image {
  width: 40px;
  height: 40px;
  margin-right: 20px;
}

.comment-date {
  font-weight: normal;
  font-size:12px;
  color:#4A4A4A;
  margin: 0 0 11px 0;
}

.comment-text {
  font-weight: normal;
  font-size:14px;
  color:#999;
  max-width: 670px;
  width: 100%;
  margin: 0;
}
